@import '../../styles/colors.scss';
@import '../../styles/dimensions.scss';

.form {
  position: fixed;
  bottom: 0;
  left: $dimension-width-leftbar;
  right: 0;
  background-color: $color-bg-header;
  height: $dimension-height-submit;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
}

.button {
  height: 42px;
  outline: none;
  box-shadow: none;
  background-color: #ffcb00;
  font-size: 1rem;
  color: black;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  transition: 0.2s ease all;
  &:hover {
    background-color: white;
  }
}
