@import '../../styles/dimensions.scss';

.container {
  height: calc(100vh - $dimension-height-header - $dimension-height-header);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 5px;
}

.button {
  height: 42px;
  outline: none;
  box-shadow: none;
  background-color: #ffcb00;
  font-size: 1rem;
  color: black;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  transition: 0.2s ease all;
  &:hover {
    background-color: white;
  }
}
