@import '../../styles/colors.scss';

.list {
  padding-inline-start: 0px;
  padding: 10px;
}

.room {
  list-style-type: none;
  padding: 10px 10px;
  border-radius: 5px;
  color: #dddddd;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: rgb(75, 75, 75);
  }
}

.room.selected {
  background-color: $color-primary;
  color: black;
  font-weight: 600;
}
