@import '../../styles/colors.scss';
@import '../../styles/dimensions.scss';

.rooms {
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 1;
  box-shadow: 5px 0px 5px #00000026;
  height: 100%;
  width: $dimension-width-leftbar;
  background: $color-bg-left-menu;
}
