@import './styles/dimensions.scss';

.page {
  padding-top: $dimension-height-header;
  padding-bottom: $dimension-height-submit;
  margin-left: $dimension-width-leftbar;
}

.nickname {
  text-align: center;
}
