@import '../../styles/colors.scss';
@import '../../styles/dimensions.scss';

.header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: $dimension-width-leftbar;
  height: $dimension-height-header;
  background-color: $color-bg-header;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.title {
  margin: 0px;
  color: white;
  font-size: 1.5rem;
}
