@import '../../styles/colors.scss';

.message {
  padding: 15px;
  display: flex;
  gap: 10px;
  border-radius: 5px;
  cursor: default;

  &:hover {
    background-color: rgba($color: #000, $alpha: 0.1);
  }
}

.avatar {
  height: 60px;
  width: 60px;
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  border-radius: 5px;
  display: flex;
  font-size: 2rem;
  color: rgb(148, 148, 148);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.nickname {
  font-weight: 800;
  color: $color-primary;
}

.timestamp {
  color: #aaa;
  cursor: pointer;
  margin-left: 10px;
  &:hover {
    text-decoration: underline;
  }
}

.text {
  margin-top: 5px;
  color: white;
}
